.programsPage{
    padding-top: 43px;
    padding-bottom: 130px;
}

.contentWrapper {
    width: 800px;
    margin: auto;
    margin-top: 70px;
}

.choose {
    display: flex;
    color: black;
    justify-content:space-between;
    width: 500px;
    margin-bottom: 20px;
}

.choose h2 {
    padding: 7px;
    border-radius: 10px;
    cursor: pointer;
}

.programs {
    margin-bottom: 30px;
}

.selected {
    background-color: #add49a;
}
