.langSwitch {
    width: 80px;
    height: 39px;
    background-color: #C9C8C8;
    border-radius: 50px;
    cursor: pointer;
    display: inline-block;
}

.langSwitch img {
    height: 39px;
    height: 39px;
    transition: all 0.2s ease-in;
    user-select: none;
}

.en {
    margin-left: 40px
}

@media (max-width: 890px) {
    .langSwitch {
        width: 39px;
    }

    .langSwitch img {
        transition: 0;
    }

    .en {
        margin-left: 0;
    }
}