.mainPage{
    background: linear-gradient(to bottom,
    #ffffff 0%,
    #bedfaf 29%,
    #c2ddba 69%,
    #ced9df 100%);
    width: 100%;
    height: 100%;
    position: relative;
    padding-bottom: 130px;
}

.over {
    height: 800px;
    overflow: hidden;
    position: relative;
}

.woman{
    position: absolute;
    width: 100%;
    height: 800px;
    background-image: url(../../../images/mainPageWoman.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
}

.woman h1 {
    font-size: 80px;
    font-weight: bold;
    font-family: Ubuntu;
    text-align: center;
    line-height: 800px;
    color: white;
    cursor: default;
    user-select: none
}

.splitSection{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1440px;
    margin: 105px auto 0;
}
.leftColumn{
    flex-basis: 45%;
    height:800px;
    position: relative;
}
.rightColumn{
    flex-basis: 45%;
    height:800px;
    position: relative;
}

.circle{
    width: 423px;
    height:88px;
    padding-bottom: 10px;
    background-color: #3E563E;
    border-radius:30px;
    z-index:3;
    margin: auto;
    display: flex;
}

.caption{
    font-size: 60px;
    font-family: Ubuntu;
    color:white;
    margin: auto;
}

.stick{
    width: 5px;
    height: 550px;
    background-color: #3E563E;
    border-radius:3px;
}

.columnText{
    display:flex;
    flex-direction:column;
    align-items:center;
}

.columnText p{
    font-family: Ubuntu;
    font-size: 60px;
    margin: 60px;
    color:#1F2F22;
    font-weight:bold;
}

.rectangle{
    position:relative;
    width: 100%;
    background-color:rgba(37, 111, 0, 0.3);
}

.stickRectangle{
    width: 100%;
    height: 5px;
    background-color: white;
    border-radius: 20px;
}

.startTrainingButton{
    width: 440px;
    height:82px;
    background-color: #3E563E;
    border-radius: 50px;
    display:flex;
    margin: auto;
    margin-top: 50px;
    cursor: pointer;
}

.startTrainingButton p{
    color: white;
    font-family:Ubuntu;
    font-size: 30px;
    font-weight: bold;
    text-align:center;
    margin:auto;
}

.startTraining{
    width: 1240px;
    margin: auto;
    padding: 100px 0;
}

.textInRectangle {
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}

.textInRectangle p{
    margin-bottom: 13px;
    
}

.textInRectangle p {
    color: white;
    font-size: 30px;
    font-weight: bold;
    font-family: Ubuntu;
}

.textInRectangle p1 {
    color: white;
    font-size: 20px;
    font-family: Ubuntu;
}

.icons {
    display: flex;
    justify-content: space-between;
    width: 420px;
}

.icons img {
    height: 76px;
}