.mainPage{
    background: linear-gradient(to bottom,
    #ffffff 0%,
    #bedfaf 29%,
    #c2ddba 69%,
    #ced9df 100%);
    width: 100%;
    height: 100%;
    position: relative;
}

.woman{
    background-color: white;
    position: relative;
    height: 1115px;
}

.woman img{
    height: 1115px;
    width: 100%;
    opacity: 0.6;
}

.textOverlay{
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 3;
    color: white;
    text-align: center;
    position: absolute;
}

.textOverlay h1{
    font-size: 80px;
    font-weight: bold;
    font-family: Ubuntu;
}

.splitSection{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 90%;
    margin: 105px auto 0;
}
.leftColumn{
    flex-basis: 45%;
    height:800px;
    position: relative;
}
.rightColumn{
    flex-basis: 45%;
    height:800px;
    position: relative;
}

.circle{
    width: 423px;
    height:98px;
    background-color: #3E563E;
    border-radius:30px;
    z-index:3;
    margin: auto;
    text-align:center;
}

.caption{
    font-size: 60px;
    font-family: Ubuntu;
    color:white;
}

.stick{
    width: 3.5px;
    height: 766px;
    background-color: #3E563E;
    margin: auto;
}