.aboutPage{
    background: linear-gradient(to bottom,
    #ffffff 0%,
    #bedfaf 29%,
    #c2ddba 69%,
    #ced9df 100%);
    width: 100%;
    height: 100%;
    position: relative;
}

.image {
    width: 100%;
    height: auto;
}

.woman{
    width: 94%;
    height: 94%;
    background-image: url(../../../images/womansex.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    text-align: center;    
}

.woman h1 {
    padding-top: 200px;
    color: black;
    font-family: Ubuntu;
    font-size: 64px;
    font-weight: 700;
    width: 620px;
    user-select: none;
}

.over{
    height: 843px;
    padding-bottom: 140px;
    padding-top: 72px;
    margin-left: 23%;
    width: 1257px;
}

.about h2 {
    padding-top: 200px;
    color: rgb(255, 255, 255);
    font-family: Ubuntu;
    font-size: 64px;
    font-weight: 700;
    width: 620px;
    user-select: none;
    margin-left: 25px;
}

.stickRectangle{
    width: 100%;
    height: 5px;
    background-color: rgb(65, 87, 55);
    border-radius: 20px;
    margin-top: 10px;
    margin-bottom: 15px;
}

.rects{
    display: flex;
    justify-content: space-evenly; /* Равное расстояние между элементами и от краев */
    align-items: center; /* Выравнивание элементов по центру по вертикали */
}

.rectangle1{
    width: 400px;
    height: 600px;
    background-color:rgb(254, 254, 254);
    margin-bottom: 150px;
    border-radius: 15px;      
}

.rectangle2{
    width: 400px;
    height: 600px;
    background-color:rgb(255, 255, 255);
    margin-bottom: 150px;
    border-radius: 15px;
}

.rectangle3{
    width: 400px;
    height: 600px;
    background-color:rgb(255, 255, 255);
    margin-bottom: 150px;
    border-radius: 15px;
}

.we{
    width: 190px;
    height: 190px;
    background-image: url(../../../images/we.png);
}

.chbwoman{
    width: 190px;
    height: 190px;
    background-image: url(../../../images/chbwoman.png);
}

.users{
    width: 190px;
    height: 190px;
    background-image: url(../../../images/users.png);
}

.rectangle4{
    width: 1200px;
    height: 600px;
    background-color:rgb(255, 255, 255);
    margin-bottom: 150px;
    border-radius: 15px;
}