.Page{
    padding-top: 20px;
    padding-bottom: 110px;
    background: linear-gradient(to bottom,
    #ffffff 0%,
    #bedfaf 29%,
    #c2ddba 69%,
    #ced9df 100%);
}

.Rectangle{
    background-color: #A2D18C;
    width: 750px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    border-radius: 15px;
    display: block;
    padding: 25px;
    margin-bottom: 30px;
}

.Start{
    margin-left: auto;
    margin-right: auto;
    display: flex;
}

.Picture1 img{
    width: 160px;
}

.Rectangle__info p1 {
    margin-left: 20px;
}

.Rectangle__info span {
    display: flex;
    margin-top: 10px; 
    margin-left: 20px;
    line-height: 30px;
}

.ExcInf{
    margin-top: 20px;
}

.ExcInf span{
    line-height: 1.2;
}

.Head p {
    text-align: center;
    display: flex;
    justify-content: center; 
    margin-top: 30px; 
}

.Howtodoit {
    margin-top: 30px;
    display: flex;
    justify-content: space-around; 
    align-items: center; 
}

.Picture2 img{
    max-width: 300px;
}

.Picture3 img{
    max-width: 300px;
}

.Picture4 img{
    margin-top: 30px;
    max-width: 600px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
}

@media (max-width: 1500px) {
    .Rectangle {
        width: 800px;
        height: 1200px;
    }

    .Picture1 img {
        width: 180px;
        height: 180px;
    }

    .Picture2 img, .Picture3 img {
        max-width: 350px;
    }

    .Picture4 img {
        max-width: 700px;
    }

    .Rectangle__info p {
        font-size: 30px;
        margin-top: -180px;
    }

    .Rectangle__info span {
        font-size: 25px;
        width: 140px;
        margin-left: 220px;
    }

    .Rectangle__info p2 {
        font-size: 20px;
        width: 700px;
    }
}

@media (max-width: 1220px) {
    .Rectangle {
        width: 700px;
        height: 1000px;
    }

    .Picture1 img {
        width: 150px;
        height: 150px;
    }

    .Picture2 img, .Picture3 img {
        max-width: 300px;
    }

    .Picture4 img {
        max-width: 600px;
    }

    .Rectangle__info p {
        font-size: 28px;
        margin-top: -160px;
    }

    .Rectangle__info span {
        font-size: 23px;
        width: 130px;
        margin-left: 200px;
    }

    .Rectangle__info p2 {
        font-size: 18px;
        width: 650px;
    }
}
