.navigation {
    box-sizing: border-box;
    background-color: #BEDFAF;
    padding: 15px;
    justify-content: space-between;
    display: flex;
    width: 100%;
    position: fixed;
    z-index: 5;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;    
}

.logo img{
    width: 200px;
    height: 40px;
}

.links {
    display: flex;
    justify-content: space-between;
    width: 800px;
    margin-right: 120px;
}