.Page{
    padding-top: 20px;
    padding-bottom: 200px;
}

.Rectangle{
    background-color:#A2D18C;
    width: 750px;
    border-radius: 15px;
    display: flex;
    padding: 25px;
    position: relative;
}

.Picture img{
    width: 160px;
}

.Rectangle__info {
    margin-left: 20px;
}

.Rectangle__info p2{
    line-height: 1.3;
}

.Link {
    margin-bottom: 5px;
}

.Link * {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.time {
    position: absolute;
    bottom: 10px;
    right: 10px;
}