.Page{
    padding-top: 50px;
}

.Rectangle{
    background-color:#A2D18C;
    width: 900px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    border-radius: 15px;
    display: flex;
    padding: 20px;
}

.Rectangle__info p{
    font-family: Ubuntu;
    font-size: 32px;
    font-weight: bold;
}

.Picture img{
    width: 210px;
    height: 210px;
}

.Rectangle__info p1{
    font-family: Ubuntu;
    font-weight: regular;
    font-size: 10px;
}