.helpModal {
    position: fixed;
    height: 100%;
    width: 100%;
    background-color: #0000003d;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    visibility: hidden;
    z-index: 6;
}

.active {
    visibility: visible;
}

.helpModal__content {
    position: relative;
    padding: 20px;
    border-radius: 12px;
    background-color: #e2e2e2;
    height: 200px;
    width: 200px;
    z-index: 7;
}