.Rectangle{
    background-color:#A2D18C;
    width: 750px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 15px;
    display: flex;
    padding: 25px;
    margin-bottom: 30px;
}

.ExcPicture img{
    width: 160px;
}

.Rectangle__info p1{
    margin-left: 20px;
}

.Rectangle__info p2{
    margin-left: 20px;
    margin-top: 5px;
    font-weight: regular;
    line-height: 1.5;
    display: flex;
    justify-content: space-around; 
}

.Link * {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/* Стили для ширины экрана до 1500 пикселей */
@media (max-width: 1500px) {
    .Rectangle {
        width: 700px;
    }

    .ExcPicture img {
        width: 140px;
    }

    .Rectangle__info p1, .Rectangle__info p2 {
        margin-left: 15px;
    }
}

/* Стили для ширины экрана до 1220 пикселей */
@media (max-width: 1220px) {
    .Rectangle {
        width: 600px;
    }

    .ExcPicture img {
        width: 120px;
    }

    .Rectangle__info p1, .Rectangle__info p2 {
        margin-left: 10px;
    }

    .Rectangle__info p2 {
        line-height: 1.3;
    }
}