.footer {
    background-color: #1F2F22;
    padding: 10px;
    justify-content: space-between;
    display: flex;
    width: 100%;
    height: 327px;
}

.logo img{
    width: 200px;
    height: 40px;;
}

.footer__text {
    top: "2769px";
    left: "259px";
    color: white;
    width: "346px";
    height: "48PX";

}

.footer__contacts {
    position: absolute;
    bottom: 130px; /* Значение, которое устанавливает расстояние между контактами и надписью "Контакты" */
    left: 14px;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    width: 100%;
}

.contactInfo {
    margin-bottom: 10px;
}