html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	vertical-align: baseline;
	text-decoration: none;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
    font-family: Ubuntu;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

body::-webkit-scrollbar {
    width: 12px; /* Ширина всего элемента навигации */
	background-color: #3E563E;
}

body::-webkit-scrollbar-track {
    background: #e0e0e0; /* Цвет дорожки */
	border-radius: 20px;
}

body::-webkit-scrollbar-thumb {
    background-color: #3E563E; /* Цвет бегунка */
    opacity: 0.5;
    border-radius: 6px; /* Округление бегунка */
}

html{
	min-height: 100%;
	position: relative;
}

body {
	background: linear-gradient(to bottom,
    #ffffff 0%,
    #bedfaf 29%,
    #c2ddba 69%,
    #ced9df 100%);
}

.App {
	min-height: 100%;
}

@font-face {
    font-family: Ubuntu;
    font-weight: 400;
    src: url("../public/fonts/Ubuntu-Regular.ttf");
}

@font-face {
    font-family: Ubuntu;
    font-weight: 700;
    src: url("../public/fonts/Ubuntu-Bold.ttf");
}
p{
	font-family:Ubuntu;
    font-size: 30px;
	font-weight: bold;
}
h1 {
	font-family: Ubuntu;
	font-size: 80px;
	font-weight: bold;
}
h2{
	font-size: 32px;
    font-family: Ubuntu;
	font-weight: bold;
}
span{
	font-family:Ubuntu;
    font-size: 20px;
}
h3{
	font-family:Ubuntu;
    font-size: 15px;
	font-weight: normal;
}
p1{
	font-family:Ubuntu;
    font-size: 26px;
	font-weight: bold;
}
p2{
	font-family:Ubuntu;
    font-size: 16px;
}
h4{
	font-family: Ubuntu;
	font-size: 60px;
	font-weight: bold;
}